<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav th:replace="layouts :: nav"></nav>

<div class="container mt-4">
	<div class="row justify-content-center">
			<h3>Project List</h3>
	</div>

	
	<div class="row">
		<div class="col-md-3">
		</div>
		
		<div class="col-md-6">
		<div class="my-3">
			<a class="btn btn-sm btn-primary" href="/projects/new">Add New Project</a>
		</div>
			<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
			<th>Project Name</th>
			<th>Project Stage</th>
			<th>Project Description</th>
			<th>Employee(s)</th>
			</tr>
		</thead>	
		
		<tr th:each="project : ${projects}">
			<td th:text="${project.name}"/>
			<td th:text="${project.stage}"/>
			<td th:text="${project.description}"/>
			<td>
				<span th:each="emp : ${project.employee}">
					<strong th:text="${emp.firstName}"></strong>
				</span>
			</td>
			<!-- -<td th:text="${project.employee}"/> -->
		</tr>
			
	</table>
		
		</div>
		
		<div class="col-md-3">
		</div>
	</div>
</div>

	
</body>
</html>